<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="./static/styles.css">
        <link rel="stylesheet" type="text/css" href="./static/layout.css">
    </head>

    <body>
        <div class="container">
            
            <section id="intro">
                <div class="heading">
                    <h1 id="welcome"><strong>Hello.</strong></h1>
                </div>
            </section>

        </div>
        <script src="./static/app.js"></script>
    </body>

</html>